body {
    background-color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    background-color: lightgray;
    overflow: auto;
    white-space: nowrap;
  }
  
  li {
    display: inline;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

  h1 {
    text-align: center;
    color: black;
    font-size: 55px;
  }


li a:hover:not(.active) {
    background-color: white;
  }
  
  .active {
    background-color: #04AA6D;
  }